.social-media-links {
    margin-top: 30px;
    font-size: 22px;
}
.social-media-links .icon-button i {
    padding: 10px;
    display: inline-block;
    color: #ffffff;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 5px 5px;
    transition: 0.3s ease-out;
}
.github i {
    background-color: #24292e;
}

.facebook i {
    background-color: #4867aa;
}

.instagram i {
    background-color: #a056a1;
}

.icon-button > i:hover {
    background-color: #000000;
}